<% post.comments.each do |comment| %>
  <% comment_user = comment.user %>
  <thead>
    <tr class="comment-user-profile-box">
      <th class="comment-user-image">
        <%= link_to user_path(comment.user) do %>
          <%= attachment_image_tag comment.user, :profile_image, fallback: "no-image.jpg", class: "comment-image" %>
        <% end %>
        <%= comment_user.name %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="comment-user-body-box">
      <td class="comment-user-content">
        <%= comment.content %>
      </td>
    </tr>
    <tr class="comment-delete-box">
      <td class="comment-delete">
        <% if current_user == comment.user %>
    	    <%= link_to '削除', post_comment_path(comment.post_id, comment.id), class: 'btn-sm btn-danger comment-delete', method: :delete, remote: true %>
        <% end %>
      </td>
    </tr>
  </tbody>
<% end %>