<div class="container post-park">
  <hr class="border-line"/>
    <h2 class="text-center">パークの編集</h2>
  <hr class="border-line"/>

  <%= form_with model:@park, local:true do |f| %>
  <div class="row new-park-error_message">
    <%= render 'layouts/error_message', model: @park %>
  </div>
  <div class="row mx-auto col-6">
    <div class="input-group m-3">
      <span class="input-group-text">パーク名</span>
      <%= f.text_field :parkname, class:"form-control input-lg" %>
    </div>
  </div>

  <div class="row mx-auto col-6">
    <div class="input-group m-3">
      <span class="input-group-text">パークの説明</span>
      <%= f.text_area :parkbody, class:"form-control input-lg" %>
    </div>
  </div>

  <div class="row mx-auto col-6">
    <div class="input-group m-3">
      <span class="input-group-text">パークの住所</span>
      <%= f.text_area :address, class:"form-control input-lg" %>
    </div>
  </div>

  <div class="row mx-auto col-6">
    <div class="input-group m-3">
      <span class="input-group-text">画像の選択</span>
      <div class="col-12 m-3">
        <% if @park.park_image.present? %>
          <%= attachment_image_tag @park, :park_image, size: "300x300", style: "border-radius: 15px;", class: "post-edit-image" %>
        <% else %>
          <%= image_tag "no-image.jpg", size: "300x300", style: "border-radius: 15px;", class: "post-edit-image" %>
        <% end %>
      </div>
      <div class="row m-3">
        <%= f.attachment_field :park_image, class: "select-image" %>
      </div>
    </div>
  </div>

  <div class="row mx-auto col-6">
    <%= f.submit "更新する", class:"btn btn-block btn-lg btn-default " %>
  </div>

  <% end %>
</div>