<div class="container post-park">
  <hr class="border-line"/>
    <h2 class="text-center">パークの追加</h2>
  <hr class="border-line"/>
  <%= form_with model:@park, local:true do |f| %>

    <div class="row new-park-error_message">
      <%= render 'layouts/error_message', model: @park %>
    </div>

    <div class="row new-post-box">
      <h3 class="new-post-subtitle">パーク名</h3>
        <div class="form-group">
          <%= f.text_field :parkname, class:"form-control input-lg" %>
        </div>
    </div>

    <div class="row new-post-box">
      <h3 class="new-post-subtitle">パークの説明</h3>
        <div class="form-group">
          <%= f.text_area :parkbody, rows: "10", cols: "50", class:"form-control input-lg" %>
        </div>
    </div>

    <div class="row new-post-box">
      <h3 class="new-post-subtitle">パークの住所</h3>
        <div class="form-group">
          <%= f.text_field :address, class:"form-control input-lg" %>
        </div>
    </div>

    <div class="row new-post-box">
      <h3 class="new-post-subtitle">画像の選択</h3>
        <div class="new-post-image-box">
          <% if @park.park_image.present? %>
            <%= attachment_image_tag @park.park_image, class: "new-post-image", style: "border-radius: 15px;" %>
          <% else %>
            <%= image_tag "no-image.jpg", class: "new-post-image", style: "border-radius: 15px;" %>
          <% end %>
        </div>
        <div class="new-post-image-button">
          <%= f.attachment_field :park_image %>
        </div>
    </div>

    <div class="row new-post-box">
      <%= f.submit "投稿する", class:"btn btn-default btn-lg new-post-post-button" %>
    </div>
  <% end %>

</div>