<!--ログインユーザー表示-->
<div class="container">
  <div class="row">
    <div>
      <%= attachment_image_tag user, :profile_image, size: "250x250", fallback: "no-image.jpg" %>
    </div>

    <div>
      <%= current_user.name %>
    </div>

    <div>
      <%= user.introduction %>
    </div>
    <h3>いいねしている投稿</h3>
    <% @user.favorited_posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :image, size: "150x150", style: "border-radius: 15px;" %>
      <% end %>
      <%= post.user.name %>
      <%= post.body %>
    <% end %>
    <%= link_to "投稿一覧へ", posts_path %>
  </div>

  <div>
    <%= link_to edit_user_path(current_user) do %>
      <button type="button" class="btn btn-dark btn-lg">
        編集する
      </button>
    <% end %>
  </div>
</div>