<!--ログインユーザー表示-->
<div class="container">
  <hr class="border-line"/>
    <h2>マイページ</h2>
  <hr class="border-line"/>

  <div class="row">
    <div class="col-2">
      <div>
        <label>プロフィール画像：</label></br>
        <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", class:"rounded-circle" %>
      </div>
    </div>

    <div class="col-3">
      <div>
        <label>ユーザー名：</label></br>
        <%= current_user.name %>
      </div>
    </div>

    <div class="col-3">
      <div>
        <label>自己紹介：</label></br>
        <%= user.introduction %>
      </div>
    </div>

    <div class="col-1">
      <%= link_to edit_user_path(current_user) do %>
        <button type="button" class="btn btn-dark btn-sm">
          編集
        </button>
      <% end %>
    </div>
  </div>


  <h3>いいねしている投稿</h3>
  <div class="row">
    <% @user.favorited_posts.each do |post| %>
    <div class="row mt-2">
      <div class="col-12">
        <div>
          <%= link_to post_path(post) do %>
            <%= attachment_image_tag post, :image, size: "50x50", style: "border-radius:35px;" %>
          <% end %>
        </div>
      </div>
      <div class="col-12">
        <div>
          <p>
            <%= post.user.name %>
          </p>
        </div>
      </div>
      <div class="col-12">
        <div>
          <p>
            <%= post.body %>
          </p>
        </div>
      </div>
      <div class="col-12">
        <div>
          <p>
            <% post.tag_list.each do |tag| %>
              <%= link_to posts_path(tag_name: tag), class: "btn btn-default btn-md tag-button" do %>
                <%= tag %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    </div>
  </div>

</div>