<!--ログインユーザー表示-->
<div class="user-personal-title">
  <hr class="border-line"/>
    <h2 class="user-personal-title-title">マイページ</h2>
  <hr class="border-line"/>
</div>

<div class="user-show-personal-all-box">
  <div class="user-show-personal-image">
    <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", class:"user-personal-image" %>
  </div>
  <div class="user-show-personal-box">
    <div class="user-show-personal-name">
      <%= current_user.name %>
    </div>
    <div class="user-show-personal-body">
      <%= user.introduction %>
    </div>
    <div class="user-show-personal-edit-button">
      <%= link_to edit_user_path(current_user) do %>
        <button type="button" class="btn btn-default personal-edit-button">
          編集する
        </button>
      <% end %>
    </div>
  </div>
</div>

<div class="user-show-personal-favorite">
  <h3 class="user-personal-favorite-title">いいねしている投稿</h3>
    <div class="user-show-personal-favorite-box">
    <% @user.favorited_posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :image, fallback: "no-image.jpg", size: "70x70", style: "border-radius:35px;", class:"user-personal-favorite-image" %>
      <% end %>
      <p class="user-show-personal-favorite-post-name">
        <%= post.user.name %>
      </p>
      <p class="user-show-personal-favorite-post-title">
        <%= post.title %>
      </p>
      <hr class="border-line favorite-line"/>
    <% end %>
    </div>
</div>

