<div class="container">
  <hr class="border-line"/>
    <h2 class="text-center">プロフィールを編集する</h2>
  <hr class="border-line"/>
  <%= form_with model:@user, local: true do |f| %>
  <!--プロフィール編集フォーム-->
    <div class="row">
      <h3>プロフィール画像</h3></br>
      <% if @user.profile_image.present? %>
        <%= attachment_image_tag @user, :profile_image, size: "250x250" %>
      <% else %>
        <%= image_tag "no-image.jpg", size: "250x250" %>
      <% end %></br>
      <%= f.attachment_field :profile_image, size: "250x250" %>
    </div>

    <div class="row">
      <div class="form-group">
        <h3>ユーザー名</h3>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control input-lg" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <h3>自己紹介文</h3>
        <%= f.text_area :introduction, rows: "5", autofocus: true, autocomplete: "introduction", class: "form-control input-lg" %>
      </div>
    </div>

    <%= f.submit "更新する", class: "btn btn-block btn-lg" %>

  <% end %>
</div>