<div class="container">
  <hr class="border-line"/>
    <h2 class="user-user-edit-title">プロフィールを編集する</h2>
  <hr class="border-line"/>
  <%= form_with model:@user, local: true do |f| %>
  <!--プロフィール編集フォーム-->
    <div class="row user-user-edit-profile-image">
      <h3 class="user-user-edit-title">プロフィール画像</h3>
      <div class="user-user-edit-profile-image-box">
        <% if @user.profile_image.present? %>
          <%= attachment_image_tag @user, :profile_image, size: "250x250", class: "user-edit-profile-image" %>
        <% else %>
          <%= image_tag "no-image.jpg", size: "250x250", class: "user-edit-profile-image" %>
        <% end %>
      </div>
        <%= f.attachment_field :profile_image, class: "user-edit-profile-image-button" %>
    </div>

    <div class="row user-user-edit-profile-name">
      <div class="form-group-edit-name">
        <h3 class="user-user-edit-title">ユーザー名</h3>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control input-lg edit-user" %>
      </div>
    </div>

    <div class="row user-user-edit-profile-text">
      <div class="form-group-edit">
        <h3 class="user-user-edit-title">自己紹介文</h3>
        <%= f.text_area :introduction, rows: "5", autofocus: true, autocomplete: "introduction", class: "form-control input-lg edit-user" %>
      </div>
    </div>
    <div class="row user-user-edit-profile-update-button">
      <%= f.submit "更新する", class: "btn btn-default btn-lg user-edit-button" %>
    </div>
  <% end %>
</div>