<!--投稿一覧表示-->
  <% @posts.each do |post| %>
    <div class="row post-index-post">
      <div class="post-index-post-image">
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post, :image, fallback: "no-image.jpg", class: "post-index-post-image" %>
        <% end %>
      </div>
      <div class="post-index-post-box">
        <p class="post-index-post-user-name">
          <i class="fas fa-user-circle"></i>
          <%= post.user.name %>
        </p>
        <p class="post-index-post-title">
          <%= post.title %>
        </p>
        <p class="post-index-post-body">
          <%= post.body.truncate(30) %>
        </p>
        <p class="post-index-post-favcom">
          <i class="fas fa-heart"></i>
          <%= post.favorites.count %>
          <i class="far fa-comment"></i>
          <%= post.comments.count %>
        </p>
        <p class="post-index-post-tag">
          <% post.tag_list.each do |tag| %>
            <%= link_to posts_path(tag_name: tag), class: "btn btn-default btn-md tag-button" do %>
              <%= tag %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>

