<!--投稿一覧表示-->
<div class="container">
  <% @posts.each do |post| %>
    <div class="row">
      <div>
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post, :image, size: "150x150", style: "border-radius: 15px;", fallback: "no-image.jpg" %>
        <% end %>
      </div>
      <div>
        <p>
          <%= post.title %>
        </p>
        <p>
          <%= post.body %>
        </p>
        <p>
          <% post.tag_list.each do |tag| %>
            <%= link_to posts_path(tag_name: tag) do %>
              <%= tag %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>

