<div class="container">
  <hr class="border-line"/>
    <h2 class="text-center">投稿の編集</h2>
  <hr class="border-line"/>

  <%= form_for @post do |f| %>
  <div class="row mx-auto col-6">
    <div class="input-group m-3">
      <span class="input-group-text">タイトル</span>
      <%= f.text_field :title, class:"form-control input-lg" %>
    </div>
  </div>

  <div class="row mx-auto col-6">
    <div class="input-group m-3">
      <span class="input-group-text">投稿内容</span>
      <%= f.text_area :body, class:"form-control input-lg" %>
    </div>
  </div>

  <div class="row mx-auto col-6">
    <div class="input-group m-3">
      <span class="input-group-text">画像の選択</span>
      <div class="col-12 m-3">
        <%= attachment_image_tag @post, :image, size: "300x300", style: "border-radius: 15px;", fallback: "no-image.jpg"%>
      </div>
      <div class="row m-3">
        <input class="form-control form-control-lg" id="formFileLg" type="file">
      </div>
    </div>
  </div>

  <div class="row mx-auto col-6">
    <div class="input-group m-3">
      <span class="input-group-text">タグを付ける</span>
      <%= f.text_field :tag_list, value: @post.tag_list.join(','), class:"form-control input-lg"%>
    </div>
  </div>

  <div class="row mx-auto col-6">
    <%= f.submit "更新する", class:"btn btn-block btn-lg btn-default " %>
  </div>

  <% end %>
</div>