<div class="container post-index">
  <div class="post-index-title">
    <hr class="border-line"/>
      <% if @tag %>
        <h2 class="post-index-title-title">" <%= @tag %> "に関する投稿</h2>
      <% else %>
        <h2 class="post-index-title-title">みんなの投稿</h2>
      <% end %>
    <hr class="border-line"/>
  </div>

  <div class="row post-index-dody">
    <div class="post-index-sidebar">
      <div class="search-box">
        <h4 class="search-box-title">調べる</h4>
          <div class="search-text-box">
            <%= form_tag(search_path, method: :get) do %>
              <%= text_field_tag :search %>
              <%= submit_tag '　検索　' %>
            <% end %>
          </div>
      </div>
    </div>

    <div class="post-index-main">
      <%= render 'posts/post.index', posts: @posts %>
    </div>
  </div>
</div>