<div class="container">
  <hr class="border-line"/>
    <h2 class="text-center">投稿詳細</h2>
  <hr class="border-line"/>

  <!--投稿者情報-->
  <div class="row mx-auto col-8">
    <%= render 'users/other', user: @user %>
  </div>

  <h3><%= @post.user.name %>さんの投稿</h3>
  <hr class="border-line"/>

  <div class="row mx-auto col-8">
    <div class="col">
      <div id="post_<%= @post.id %>">
        <div class="favorite-btn">
          <%= render "favorites/favorite-btn", post: @post %>
        </div>
      </div>
    </div>
    <div class="col">
    コメント数: <%= @post.comments.count %>
    </div>
  </div>
  <!--投稿内容-->
  <div class="row mx-auto col-8">
    <div class="col-12">
      <label>タイトル</label></br>
      <%= @post.title %>
    </div>
    <div class="col-12">
      <label>内容</label></br>
      <%= simple_format @post.body %>
    </div>
    <div class="col-12">
      <label>関連するタグ：</label>
      <% @post.tag_list.each do |tag| %>
        <%= link_to posts_path(tag_name: tag), class: "btn btn-default btn-md" do %>
          <%= tag %>
        <% end %>
      <% end %>
    </div>

    <div class="row mx-auto col-8">
      <div class="col-12">
        <label>投稿画像：</label></br>
        <%= attachment_image_tag @post, :image, size: "500x300", fallback: "no-image.jpg" %>
      </div>
    </div>
    <div class="row mx-auto col-8">
      <% if @post.user.id == current_user.id %>
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %>
        <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}"%>
      <% end %>
    </div>
  </div>
  <div>
  <h3>みんなのコメント</h3>
  </div>

  <table class="comments">
    <%= render 'comments/index', post: @post %>
  </table>

  <div class="row mx-auto col-8">
    <div class="col-12 mt-5">
      <%= form_with model:[@post,@comment] do |f| %>
        <%= f.text_area :content, size:"90x5" %>
        <%= f.submit 'コメントする', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  </div>