<% if user_signed_in? %>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <div class="header-logo">
        <%= link_to posts_path do %>
          <%= image_tag 'logo.jpg'%>
        <% end %>
      </div>
      <ul id="main">
        <li>
          <%= link_to 'マイページ',user_path(current_user), class: "btn btn-default btn-sm far fa-id-card" %>

        </li>
        <li><i class="far fa-file-alt"></i>投稿関連
      <ul class="drop">
        <div>
          <li><%= link_to '投稿一覧',posts_path, class: "btn btn-default btn-sm fas fa-snowboarding" %>
          <li><%= link_to '投稿する',new_post_path, class: "btn btn-default btn-sm far fa-edit" %></li>
          <li>パークの追加<i class="fas fa-map-marked-alt"></i></li>
        </div>
      </ul>
        </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm fas fa-sign-out-alt" %></li>
        <li><i class="far fa-envelope"></i>お問い合わせ</li>
        <div id="marker"></div>
      </ul>
    </div>
  </nav>
</header>
<% end %>