<% if user_signed_in? %>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <div class="header-logo">
        <%= link_to posts_path do %>
          <%= image_tag 'logo.jpg'%>
        <% end %>
      </div>
      <ul id="main">
        <li>
          <%= link_to 'マイページ',user_path(current_user), class: "btn btn-default far fa-id-card" %>
        </li>
        <li>
          <i class="fas fa-snowboarding index-list">みんなの投稿</i>
          <ul class="drop">
            <div>
              <li><%= link_to '投稿一覧',posts_path, class: "btn btn-default far fa-file-alt post-park-list" %></li>
              <li><%= link_to 'パーク一覧',parks_path, class: "btn btn-default fas fa-map-marked-alt" %></li>
            </div>
          </ul>
        </li>
        <li>
          <i class="fas fa-snowboarding index-list">投稿する</i>
          <ul class="drop">
            <div>
              <li><%= link_to '投稿する',new_post_path, class: "btn btn-default far fa-edit post-park-list" %></li>
              <li><%= link_to 'パーク追加',new_park_path, class: "btn btn-default far fa-edit post-park-list" %></li>
            </div>
          </ul>
        </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-default fas fa-sign-out-alt" %></li>
        <div id="marker"></div>
      </ul>
    </div>
  </nav>
</header>
<% end %>